<div class="container">
    <div class="row m-lg-5 no-gutters">
        <div class="col-md-6 bg-white py-2 p-lg-5 pl-100">
            <div class="brand" routerLink="/login">
                Back
            </div>
            <h1 class="pb-3 pt-5">Create Account</h1>
            <div class="form-style ">
                <form class="mb-5" [formGroup]="signupForm" #ngForm="ngForm" (ngSubmit)="signup()">
                    <div class="form-group pb-3">
                        <label for="InputFullName">Full Name</label>
                        <input type="text" formControlName="fullName" placeholder="Enter your full name"
                            class="form-control mt-2" id="InputFullName" aria-describedby="fullNameHelp">

                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['fullName'], ngForm) && signupForm.controls['fullName'].hasError('required')">Required</span>
                    </div>
                    <div class="form-group pb-3">
                        <label for="InputEmail">Email</label>
                        <input type="email" formControlName="email" placeholder="Enter your email address"
                            class="form-control mt-2" id="InputEmail" aria-describedby="emailHelp" autocomplete="off">
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['email'], ngForm) && signupForm.controls['email'].hasError('required')">Required</span>
                        <span class="error" *ngIf="signupForm.controls['email'].hasError('pattern')">Invalid
                            email</span>
                        <span class="error" *ngIf="signupForm.controls['email'].hasError('not_unique')">Email already
                            registered</span>
                    </div>
                    <div class="form-group pb-3">
                        <label for="InputCode">Invitation Token</label>
                        <input type="text" formControlName="inviteToken" placeholder="Enter the invitation token"
                            class="form-control mt-2" id="InputCode" aria-describedby="codeHelp">
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['inviteToken'], ngForm) && signupForm.controls['inviteToken'].hasError('required')">Required</span>

                    </div>
                    <div class="form-group pb-3">
                        <label for="InputPassword">Password</label>
                        <input type="password" formControlName="password" placeholder="Enter password"
                            class="form-control mt-2" id="InputPassword" autocomplete="off">
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['password'], ngForm) && signupForm.controls['password'].hasError('required')">Required</span>
                        <span class="error" *ngIf="signupForm.controls['password'].hasError('whitespace')">
                            Password
                            can't contain a blank space.</span>
                        <span class="error" *ngIf=" signupForm.controls['password'].hasError('pattern')">Password
                            should
                            be min of 8
                            characters and must include atleast one uppercase, lowercase, number, and a special
                            character.
                        </span>

                    </div>
                    <div class="form-group pb-3">
                        <label for="InputCPassword">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" placeholder="Enter confirm password"
                            class="form-control mt-2" id="InputCPassword">
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['confirmPassword'], ngForm) && signupForm.controls['confirmPassword'].hasError('required')">Required</span>
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['confirmPassword'], ngForm) && signupForm.controls['confirmPassword'].hasError('password-mismatch')">
                            Confirm password does not
                            match with Password.</span>
                        <span class="error"
                            *ngIf="isErrorState(signupForm.controls['confirmPassword'], ngForm) && signupForm.controls['confirmPassword'].hasError('invalid-password')">Please
                            enter a valid
                            Password
                            first.
                        </span>
                    </div>
                    <button type="submit" class="btn mt-2" >Submit</button>

                </form>

            </div>

        </div>
        <div class="col-md-6 p-0">
            <img src="../assets/happy-young-woman-sitting-floor-using-laptop-gray-wall.png" class="img-fluid"
                style="min-height:100%;" />
        </div>
    </div>
</div>