<div class="container">
    <div class="row m-lg-5 no-gutters">
        <div class="col-md-6 bg-white py-2 p-lg-5 pl-100">
            <div class="brand" routerLink="/login">
                Back
            </div>
            <h1 class="pb-3 pt-5">Forgot Password</h1>
            <div class="form-style ">
                <form class="mb-5">
                    <div class="form-group pb-3">
                        <label for="InputEmail">Email</label>
                        <input type="email" placeholder="Enter your email address" class="form-control mt-2"
                            id="InputEmail" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn mt-2">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <img src="../assets/happy-young-woman-sitting-floor-using-laptop-gray-wall.png" class="img-fluid"
                style="min-height:100%;" />
        </div>
    </div>
</div>