<div class="container">
    <div class="row m-lg-5 no-gutters">
        <div class="col-md-6 bg-white py-2 p-lg-5 pl-100">
            <div class="brand">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_6_132)">
                        <path d="M11.9098 7.22485H22.4423L14.6988 18.7023H4.16626L11.9098 7.22485Z" fill="#007AFF" />
                        <path
                            d="M12.3713 19.7663L9.37207 24.2118H20.4042L28.1477 12.7344H20.0053L15.261 19.7663H12.3713Z"
                            fill="#312ECB" />
                    </g>
                    <defs>
                        <clipPath id="clip0_6_132">
                            <rect width="24.9804" height="19.4847" fill="white"
                                transform="translate(3.66699 6.22559)" />
                        </clipPath>
                    </defs>
                </svg>Study Zone
            </div>
            <h1 class="pb-3 pt-5">Welcome <br />
                To Study Zone</h1>
            <div class="form-style  ">
                <form class="mb-5" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group pb-3">
                        <label for="InputEmail">Email</label>
                        <input type="email" formControlName="email" placeholder="Enter your email address"
                            class="form-control mt-2" id="InputEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group pb-3">
                        <label for="InputPassword">Password</label>
                        <input type="password" formControlName="password" placeholder="Enter Password"
                            class="form-control mt-2" id="InputPassword">
                    </div>
                    <button class="btn mt-2">Login</button>
                    <div class="text-center pt-4 forgot-password">
                        <a routerLink="/forgot-password">Forget Password?</a>
                    </div>
                </form>
                <div class="pt-sm-5 text-center box">
                    New on Study Zone? <a routerLink="/signup">Create Account</a>
                </div>
            </div>

        </div>
        <div class="col-md-6 p-0">
            <img src="../assets/happy-young-woman-sitting-floor-using-laptop-gray-wall.png" class="img-fluid"
                style="min-height:100%;" />
        </div>
    </div>
</div>