<div class="container">
    <div class="row m-lg-5 no-gutters">
        <div class="col-md-6 bg-white py-2 p-lg-5 pl-100">
            <div class="brand">
                <!-- Back -->
            </div>
            <h1 class="pb-3 pt-5">Reset Password</h1>
            <div class="form-style ">
                <form class="mb-5"  [formGroup]="resetPasswordForm" #ngForm="ngForm" (ngSubmit)="resetPassword()">

                    <!-- <div class="form-group pb-3">
                        <label for="InputPassword">Current Password</label>
                        <input type="password"  formControlName="password" placeholder="Enter current password" class="form-control mt-2"
                            id="InputPassword">
                            <span class="error"
                            *ngIf="matcher.isErrorState(resetPasswordForm.controls['password'], ngForm) && resetPasswordForm.controls['password'].hasError('required')">Required</span>
                       
                    </div> -->
                    <div class="form-group pb-3">
                        <label for="InputPassword1">New Password</label>
                        <input type="password"  formControlName="newPassword" placeholder="Enter new password" class="form-control mt-2"
                            id="InputPassword1">
                            <span class="error"
                            *ngIf="matcher.isErrorState(resetPasswordForm.controls['newPassword'], ngForm) && resetPasswordForm.controls['newPassword'].hasError('required')">Required</span>
                        <span class="error" *ngIf="resetPasswordForm.controls['newPassword'].hasError('whitespace')">
                            Password
                            can't contain a blank space.</span>
                        <span class="error" *ngIf="!resetPasswordForm.controls['newPassword'].hasError('whitespace') && resetPasswordForm.controls['newPassword'].hasError('pattern')">Password
                            should
                            be min of 8
                            characters and must include atleast one uppercase, lowercase, number, and a special
                            character.
                        </span>

                    </div>
                    <div class="form-group pb-3">
                        <label for="InputCPassword">Confirm Password</label>
                        <input type="password"  formControlName="confirmPassword" placeholder="Enter confirm password" class="form-control mt-2"
                            id="InputCPassword">
                            <span class="error"
                            *ngIf="matcher.isErrorState(resetPasswordForm.controls['confirmPassword'], ngForm) && resetPasswordForm.controls['confirmPassword'].hasError('required')">Required</span>
                        <span class="error"
                            *ngIf="matcher.isErrorState(resetPasswordForm.controls['confirmPassword'], ngForm) && resetPasswordForm.controls['confirmPassword'].hasError('password-mismatch')">
                            Confirm password does not
                            match with New Password.</span>
                        <span class="error"
                            *ngIf="matcher.isErrorState(resetPasswordForm.controls['confirmPassword'], ngForm) && resetPasswordForm.controls['confirmPassword'].hasError('invalid-password')">Please
                            enter a valid
                            New Password
                            first.
                        </span>
                    </div>
                    <button type="submit" class="btn mt-2">Submit</button>

                </form>

            </div>

        </div>
        <div class="col-md-6 p-0">
            <img src="../assets/happy-young-woman-sitting-floor-using-laptop-gray-wall.png" class="img-fluid"
                style="min-height:100%;" />
        </div>
    </div>
</div>